html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

.ericnguyen1290 {
  color: Blue;
}

.Player32286 {
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
}